<app-loader ng-if="vm.loading || vm.searchLoading || vm.orderServicesLoading"></app-loader>

<section class="out" ng-if="!vm.loading">

  <app-header></app-header>


  <div class="content">
    <div class="wrap wrap_pt32">
      <div class="content__i">

        <div ng-if="vm.showSearchForm" class="orderSearchForm orderSearchForm_change orderSearchForm--order"
             style="display: block;">

          <div class="search-order-form-header" ng-bind-html=" 'web.order.form.header' | aliasStatic"></div>

          <div class="orderSearchForm__i">

            <div ng-if="vm.needToSpecifyDocument" class="infoMessage">
              <div class="infoMessage__i">
                <p>
                  {{ 'web.messages.needToSpecifyDocument' | aliasStatic}}
                </p>
              </div>
            </div>


            <div class="formBody">
              <form class="formBody__i" name="vm.searchOrderForm" ng-submit="vm.submitSearch();"
                    form-submit-error-highlight novalidate>

                <div class="formBodyItem">
                  <div class="steps active">

                    <div class="steps__i">

                      <div class="item item_order_search_params">
                        <div class="item__i">


                          <div ng-if=" ('site.searchOrdersBy' | param) == 'LAST_NAME_PNR_TICKET' " class="col">
                            <div class="inp">
                              <div class="inp__i">
                                <error-message
                                    control="vm.searchOrderForm.pnrOrTicketNumber"
                                    format-alias="'web.messages.formatTicketOrPNR'"
                                    touched="vm.submitTouched">
                                </error-message>
                                <input type="text"
                                       tabindex="3"
                                       placeholder="{{ 'web.order.form.pnr' | aliasStatic}}"
                                       class="textInp"
                                       name="pnrOrTicketNumber"
                                       ng-model="vm.searchParams.pnrOrTicketNumber"
                                       ng-pattern="vm.pnrOrTicketRegexp"
                                       clean-search-order-param
                                       maxlength="26"
                                       error-highlight="{{ vm.submitTouched }}"
                                       required/>
                              </div>
                            </div>
                          </div>
                          <div ng-if=" ('site.searchOrdersBy' | param) == 'LAST_NAME_TICKET' " class="col">
                            <div class="inp">
                              <div class="inp__i">
                                <error-message
                                    control="vm.searchOrderForm.ticket"
                                    format-alias="'web.messages.formatTicket'"
                                    touched="vm.submitTouched">
                                </error-message>
                                <input type="number"
                                       tabindex="3"
                                       placeholder="{{ 'web.order.form.ticket' | aliasStatic}}"
                                       class="textInp"
                                       name="ticket"
                                       ng-model="vm.searchParams.ticket"
                                       ng-pattern="vm.ticketRegexp"
                                       maxlength="26"
                                       clean-search-order-param
                                       error-highlight="{{ vm.submitTouched }}"
                                       required/>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="inp">
                              <div class="inp__i">
                                <error-message
                                    control="vm.searchOrderForm.lastName"
                                    format-alias="'web.messages.formatLastName'"
                                    touched="vm.submitTouched">
                                </error-message>
                                <input type="text"
                                       tabindex="4"
                                       placeholder="{{ 'web.order.form.lastName' | aliasStatic}}"
                                       class="textInp"
                                       name="lastName"
                                       ng-model="vm.searchParams.lastName"
                                       ng-pattern="vm.passengerLastNameRegexp"
                                       clean-search-order-param
                                       maxlength="50"
                                       error-highlight="{{ vm.submitTouched }}"
                                       required/>
                              </div>
                            </div>
                          </div>
                          <div ng-if=" ('site.searchOrdersBy' | param) == 'LAST_NAME_DOCUMENT_FLIGHT_DATE' "
                               class="col">
                            <div class="inp">
                              <div class="inp__i">
                                <error-message
                                    control="vm.searchOrderForm.flight"
                                    touched="vm.submitTouched">
                                </error-message>
                                <input type="text"
                                       tabindex="5"
                                       placeholder="{{ 'web.order.form.flight' | aliasStatic}}"
                                       class="textInp"
                                       name="flight"
                                       ng-model="vm.searchParams.flight"
                                       maxlength="26"
                                       clean-search-order-param
                                       error-highlight="{{ vm.submitTouched }}"
                                       required/>
                              </div>
                            </div>
                          </div>
                          <div
                              ng-if=" ('site.searchOrdersBy' | param) == 'LAST_NAME_DOCUMENT_FLIGHT_DATE' || vm.needToSpecifyDocument "
                              class="col">
                            <div class="inp">
                              <div class="inp__i">
                                <error-message
                                    control="vm.searchOrderForm.document"
                                    touched="vm.submitTouched">
                                </error-message>
                                <input type="text"
                                       tabindex="6"
                                       placeholder="{{ 'web.order.form.document' | aliasStatic}}"
                                       class="textInp"
                                       name="document"
                                       ng-model="vm.searchParams.document"
                                       maxlength="26"
                                       clean-search-order-param
                                       error-highlight="{{ vm.submitTouched }}"
                                       required/>
                              </div>
                            </div>
                          </div>
                          <div ng-if=" ('site.searchOrdersBy' | param) == 'LAST_NAME_DOCUMENT_FLIGHT_DATE' "
                               class="col">

                            <div id="calendarContainer">


                              <div class="pikaday__header_mobile" ng-class="{ active: vm.pikadayDateOpen }">
                                <i class="icon_plane"></i>
                                <span>{{ 'web.order.form.dateTitle' | aliasStatic}}</span>
                                <a href class="pikaday__header_mobile_close" ng-click="vm.pikadayClose('')"></a>
                              </div>
                              <div class="inp">
                                <div class="inp__i">
                                  <error-message
                                      control="vm.searchOrderForm.date"
                                      touched="vm.submitTouched">
                                  </error-message>
                                  <input type="text" tabindex="7" placeholder="{{ 'web.order.form.date' | aliasStatic}}"
                                         class="textInp calendarInp calendarInp_js"
                                         ng-class="{ textInp_error:(vm.submitTouched && vm.searchOrderForm.date.$invalid) }"
                                         pikaday="vm.pikadayDate" container="calendarContainer"
                                         on-open="vm.pikadayOpen(); vm.pikadayDateOpen = true;"
                                         on-select="vm.pikadayThereSelectHandler()"
                                         on-close="vm.pikadayDateOpen = false"
                                         name="date" ng-model="vm.searchParams.date" readonly required/>
                                  <a href class="calendarBtn calendarBtn_js">
                                    <i class="icon_calendar"></i>
                                  </a>
                                </div>
                              </div>

                            </div>


                          </div>


                        </div>
                      </div>


                      <button class="btn btn_search btn_search--order btn_formSearch btn_formSearch_js"
                              ng-mouseenter="vm.swithcSubmitButtonHoverState();"
                              ng-mouseleave="vm.swithcSubmitButtonHoverState();"
                              ng-class="{ disabled: (!vm.searchOrderAgree && ('site.useSearchOrderAgreeCheckbox' | param)) }">
                        {{ 'web.order.form.searchButton' | aliasStatic}}
                      </button>

                    </div>

                  </div>
                </div>

                <div ng-if=" 'site.useSearchOrderAgreeCheckbox' | param " class="iconfirm iconfirm--order">
                  <div class="iconfirm__i">
                    <div class="customCheckbox">
                      <label><input type="checkbox" id="searchOrderAgreeChb"
                                    ng-model="vm.searchOrderAgree"/><span></span></label>
                      <div ng-if="!vm.searchOrderAgree && vm.submitButtonHover" class="errorMessage">
                        {{ 'web.searchOrderAgreeTooltip' | aliasStatic}}
                      </div>
                    </div>
                    <p>
                      <label for="searchOrderAgreeChb">
                        <wrap ng-bind-html=" 'web.searchOrderAgree' | aliasStatic"></wrap>
                      </label>
                    </p>
                  </div>
                </div>

                <div class="search-order-form-footer" ng-bind-html=" 'web.order.form.footer' | aliasStatic"></div>

              </form>
            </div>


          </div>
        </div>

        <separate-order-passengers-list ng-if="vm.partiallyAddedPassengers.length && !vm.orderInfo"
                                        passengers="vm.partiallyAddedPassengers"></separate-order-passengers-list>

        <div ng-if="vm.partiallyAddedPassengers.length && !vm.orderInfo" class="searchResultsControl">
          <div class="searchResultsControl__i">
            <a href ng-if="!vm.showSearchForm" ng-click="vm.addPassenger();" class="btn btn_back btn_noArrow">
              {{ 'web.separateOrder.button.addPassenger' | aliasStatic}}
            </a>
            <a href ng-if="!vm.showSearchForm" ng-click="vm.clear();" class="btn btn_back btn_clear btn_noArrow">
              {{ 'web.separateOrder.button.clear' | aliasStatic}}
            </a>
            <a href ng-click="vm.confirmHandler()" class="btn btn_next btn_noArrow">
              {{ 'web.separateOrder.button.gotoOrder' | aliasStatic}}
            </a>
          </div>
        </div>


        <div ng-if="vm.errorMessage" class="message_error">
          {{ vm.errorMessage | aliasDynamic }}
        </div>

        <wrap ng-if="vm.orderInfo">

          <p class="invoiceBack">
            <a href ng-click="vm.clear()" class="back">
              {{ 'web.order.form.backToSearchOrder' | aliasStatic}}
            </a>
          </p>


          <order-with-es replace-with order-info="vm.orderInfo">
            <!--nw-es-list -->
            <nw-extra-services-list ng-if="vm.es" es="vm.es" list="vm.esList"
                                 locked="vm.modifyServicesLoading || vm.orderServicesLoading"></nw-extra-services-list>
            <!--end nw-es-list -->

            <div ng-if="vm.orderInfo.hasSelectedExtraServices && vm.priceVariant" class="payMethods">
              <div class="payMethods__i">


                <wrap ng-show="!vm.isFreePricevariant">
                  <h2 class="title">
                    {{ 'web.paymentTypeSelect.header' | aliasStatic}}
                  </h2>
                  <payment-type-select price-variant="vm.priceVariant"
                                       change-handler="vm.paymentFormChangeHandler"
                                       selected-payment-type="vm.selectedPaymentType"
                                       selected-payment-form="vm.selectedPaymentForm">
                  </payment-type-select>
                </wrap>

                <div class="iconfirm">
                  <div class="iconfirm__i">
                    <div class="customCheckbox">
                      <label>
                        <input type="checkbox" id="iconfirm" ng-model="vm.agree"/>
                        <span></span>
                      </label>
                      <div ng-if="!vm.agree && vm.submitButtonHover" class="errorMessage">
                        {{ 'web.addServices.agreeTooltip' | aliasStatic}}
                      </div>
                    </div>
                    <p>
                      <label for="iconfirm">
                        <wrap ng-bind-html=" 'web.addServices.agree' | aliasStatic"></wrap>
                      </label>
                    </p>
                  </div>
                </div>

              </div>
            </div>

            <div class="searchResultsControl">
              <div class="searchResultsControl__i">

                <a href ng-click="vm.openOrder(vm.pnrOrTicketNumber, vm.lastName)" class="btn btn_back">
                  {{ 'web.addServices.backToOrder' | aliasStatic}}
                </a>

                <a href ng-click="vm.clearSession()" ng-if=" !('site.bookingEnabled' | param) "
                   class="btn btn-clear-session">
                  {{ 'web.buttons.clearSession' | aliasStatic}}
                </a>

                <a href ng-if="vm.orderInfo.hasSelectedExtraServices && !vm.confirmLoading"
                   ng-click="vm.submitPayment()"
                   ng-class="{disabled: (!vm.agree || !vm.selectedPaymentForm ||
               !vm.selectedPaymentType || vm.modifyServicesLoading || vm.orderServicesLoading)}"
                   ng-mouseenter="vm.swithcSubmitButtonHoverState();"
                   ng-mouseleave="vm.swithcSubmitButtonHoverState();"
                   class="btn btn_next">
							<span class="mobileHide">
                                {{  vm.isFreePaymentVariants ? 'web.buttons.confirmAddServices' : 'web.buttons.gotoPayment' | aliasStatic}}
                            </span>
                  <span class="mobileShow">
                                {{ 'web.buttons.next' | aliasStatic}}
                            </span>
                </a>

              </div>
            </div>


            <div ng-if="vm.showNeedSelectPaymentFormMesage" class="infoMessage infoMessage_error">
              <div class="infoMessage__i">
                <p>
                  {{ 'web.messages.needSelectPaymentForm' | aliasStatic}}
                </p>
              </div>
            </div>

            <div ng-if="vm.confirmError" class="infoMessage infoMessage_error">
              <div class="infoMessage__i">
                <p ng-if=" vm.confirmError === true ">
                  {{ 'web.messages.startPaymentForExtraServicesError' | aliasStatic}}
                </p>
                <p ng-if=" vm.confirmError !== true ">
                  {{ vm.confirmError | aliasDynamic }}
                </p>
              </div>
            </div>


          </order-with-es>

        </wrap>

      </div>
    </div>
  </div>

  <div class="push"></div>

</section>

<app-footer ng-if="!vm.loading"></app-footer>
