<div class="popup popup_detail" id="nw-{{ vm.esCode }}-popup" style="display: none;">
  <div class="title">
    <div class="title__i">
      <p>meal popup header here</p>
      <a href ng-click="vm.close()" class="closePopup closePopup_js"></a></div>
  </div>
  <div class="popup__i">
    <ng-transclude ng-transclude-slot="extra-service">
    </ng-transclude>
  </div>
</div>
<!--<div class="popup popup_detail" id="popupConfirmPassengerNames" style="display: none;">-->

<!--<div class="title">-->
<!--<div class="title__i">-->
<!--<p>-->
<!--{{ 'web.passengers.confirmPassengerNames.header' | aliasStatic}}-->
<!--</p>-->
<!--<a href ng-click="vm.close()" class="closePopup closePopup_js"></a>-->
<!--</div>-->
<!--</div>-->

<!--<div class="popup__i">-->

<!--<div ng-if="vm.confirmPassengers" class="confirmNames">-->
<!--<table class="confirmNamesList">-->
<!--<tbody class="confirmNamesList__item" ng-repeat="(passengerNum, passenger) in vm.confirmPassengers">-->

<!--<tr>-->
<!--<th colspan="3">-->
<!--<strong>-->
<!--{{ passenger.lastName }} {{ passenger.firstName }}-->
<!--</strong>-->
<!--</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>-->

<!--<p>{{ 'web.orderInfo.passenger.dateOfBirth' | aliasStatic}} {{ passenger.dateOfBirth }}</p>-->

<!--<p>{{ 'web.orderInfo.passenger.gender' | aliasStatic}} {{ 'web.orderInfo.label.gender.' | aliasWithPrefix:passenger.gender }}</p>-->

<!--<p>{{ 'web.orderInfo.passenger.nationality' | aliasStatic}} {{ vm.getCountryLocalNameByCode(passenger.nationality) }}</p>-->

<!--<p ng-if="passenger.phone">{{ 'web.orderInfo.passenger.phone' | aliasStatic}} {{ passenger.phone }}</p>-->

<!--<p ng-if="passenger.eMail">{{ 'web.orderInfo.passenger.eMail' | aliasStatic}} {{ passenger.eMail }}</p>-->

<!--</td>-->
<!--<td>-->

<!--<p>{{ 'web.orderInfo.passenger.documentType' | aliasStatic}} {{ vm.getDocumentTypeNameByCode(passenger.documentType, passenger.categoryCode) }}</p>-->

<!--<p>{{ 'web.orderInfo.passenger.documentNumber' | aliasStatic}} {{ passenger.documentNumber }}</p>-->

<!--<p class="documentDate" ng-if="passenger.documentDate">-->
<!--{{ 'web.orderInfo.passenger.documentDate' | aliasStatic}} {{ passenger.documentDate }}-->
<!--</p>-->

<!--</td>-->

<!--</tr>-->
<!--</tbody>-->

<!--</table>-->
<!--</div>-->

<!--<div ng-if="vm.emptyPatronymicPassengers.length" class="patronymicRequired">-->
<!--{{ 'web.passengers.emptyPatronymicAlert.textStart' | aliasStatic}}-->
<!--<wrap ng-repeat="(passengerNum, passenger) in vm.emptyPatronymicPassengers">-->
<!--{{ passengerNum ? ', ' : ' ' }}-->
<!--<b>{{ passenger.lastName }} {{ passenger.firstName }}</b>-->
<!--</wrap>-->
<!--{{ ' ' }}-->
<!--{{ 'web.passengers.emptyPatronymicAlert.textEnd' | aliasStatic}}-->
<!--</div>-->


<!--<div class="popup__i__footer popup__i__footer__ok">-->
<!--<div class="popup__i__footer__links">-->
<!--<a href ng-click="vm.close()" class="popup__i__footer__links__link popup_js">-->
<!--{{ 'web.passengers.confirmPassengerNames.button.correct' | aliasStatic}}-->
<!--</a>-->
<!--</div>-->
<!--<div class="popup__i__footer__buttons">-->
<!--<button ng-click="vm.submit()" class="btn popup__i__footer__buttons__button popup__i__footer__buttons__button__ok">-->
<!--{{ 'web.passengers.confirmPassengerNames.button.continue' | aliasStatic}}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
