@import "mixins"
@import "variables"
@import "blocks"

.extra-services
  display: flex
  flex-direction: column
  background: $brandLightGrayColor
  border-radius: 5px
  padding: 40px 15px 15px
  margin-bottom: 30px
  &__heading
    text-align: center
    @extend %heading--big
  &__list
    padding: 0
    list-style-type: none
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    width: 33%
    min-width: 240px
    max-width: 360px
    display: flex
    flex-direction: column
  &__item-service-name
    @extend %heading--subheading
    margin-top: 20px
    margin-bottom: 40px
  &__item-descr
    @extend %text--small
    margin-bottom: 20px
  &__item-descr-block
    display: flex
    flex-direction: column
    padding: 0 15px 15px
  &__item-image-wrp
    position: relative
    overflow: hidden
    &:before,
    &:after
      background-color: $brandRedColor
      width: 35%
      height: 94px
      content: ''
      position: absolute
      left: -10%
      top: 0
      transform: skew(-30deg)
      z-index: 1
    &:after
      background: rgba($brandRedColor, .5)
      left: 0
  &__item-image
    width: 100%
    height: 94px
  &__item-icon
    z-index: 2
    position: absolute
    width: 45px
    height: 45px
    left: 20px
    top: 40%
    transform: translate(0, -50%)
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    &--meal
      background-image: $mealIcon
    &--insuranceOnline
    &--seat
      background-image: $seatIcon

  &__item-button
    @extend %btn
    width: percent(177, 360)
    &:hover
      @extend %btn--hover

.es-popup
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(#000000, .78)
  left: 0
  top: 0
  z-index: 400
  &__inner
    width: 70%
    height: 60%
    margin: 0 auto
    position: absolute
    transform: translate(-50%, -50%)
    left: 50%
    top: 50%
    background-color: $brandLightGrayColor
    padding: 20px
  &__close
    display: block
    width: 60px
    height: 60px
    right: 10%
    position: absolute
    top: 15%
    border-radius: 50%
    border: 1px solid #bebebe
    background: $crossIcon no-repeat center
    background-size: 80%

order-prices[mode="pricesIssued"]
  .title
    color: $textGrayColor
    font-size: $textLineHeight
    font-weight: $normalFontWeight
    line-height: $defaultLineHegith

  .icon_info
    color: $brandRedColor

  .totalTable
    table
      width: 100%

    tr td:last-of-type
      text-align: right

  tr[ng-if="vm.orderInfo[vm.mode].totalTicket"]
    td:first-of-type
      color: $textGrayColor
      font-size: $textFontSize
      font-weight: $normalFontWeight
      line-height: 30px

order-prices[mode="pricesNotIssued"]
  .title
    padding: 0 15px
    background-color: #dddddd
    line-height: 72px
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    font-weight: $normalFontWeight
    color: $black
  .totalTable
    background-color: #f5f5f5
    padding: 0 15px
    margin-top: 0
    table
      width: 100%
    tr
      display: flex
      justify-content: space-between
      td:first-of-type
        color: $textGrayColor
        font-size: $textLineHeight
        font-weight: $normalFontWeight
        line-height: 30px

    .total
      tr
        td:first-of-type
          color: $black
          font-size: 22px
          font-weight: $normalFontWeight
          line-height: 30px
        td:last-of-type
          color: $black
          font-size: 30px
          font-weight: $bolderFontWeight
          line-height: $defaultLineHegith


